<%- include('../layouts/adminlayout/header.ejs') %>
<main class="main-wrap">
  <header class="main-header navbar">
    <div class="col-search">
      <form class="searchform">
        <div class="input-group">
          <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
          <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
        </div>
        <datalist id="search_terms">
          <option value="Products"></option>
          <option value="New orders"></option>
          <option value="Apple iphone"></option>
          <option value="Ahmed Hassan"></option>
        </datalist>
      </form>
    </div>

    <a href="/admin/logout" class="btn  btn-md">
      <span class="glyphicon glyphicon-log-out"></span> Logout
    </a>
    <!-- <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="/adminAsset/assets/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="/adminAsset/assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="/adminAsset/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="/adminAsset/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAsset/assets/imgs/people/avatar-1.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div> -->
  </header>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Dashboard</h2>
        <p>Whole data about your business here</p>
      </div>
      <!-- <div>
                        <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                    </div> -->
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Revenue</h6>
              <span>
                <%= totalRevenue %>
              </span>
              <span class="text-sm"> Shipping fees are not included </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Orders</h6>
              <span>
                <%= orderCount %>
              </span>
              <span class="text-sm"> Excluding orders in transit </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Products</h6>
              <span>
                <%= productCount %>
              </span>
              <span class="text-sm"> In <%= categoryCount %> Categories</span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Monthly Earning</h6>
              <span>
                <%= monthlyTotalRevenue %>
              </span>
              <span class="text-sm"> Based in your local time. </span>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-12">
        <div class="card mb-4">
          <article class="card-body">
            <h5 class="card-title">Sale statistics</h5>
            <canvas id="salesChart" height="120px"></canvas>
          </article>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <div class="card mb-4">
              <!-- <article class="card-body">
                <h5 class="card-title">New Members</h5>
                <div class="new-member-list">
                  <% users.forEach(user=>{%>
                  <img src="/adminAsset/assets/imgs/people/avatar-4.png" alt="" class="avatar" />
                  <div>
                    <h6><%=user.name%></h6>
                    
                  </div>
                  <%}) %>
                </div>
              </article> -->
            </div>
          </div>
          <div class="col-lg-7">
            <div class="card mb-4">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card mb-4">
          <article class="card-body">
            <h5 class="card-title">Payment Mode</h5>
            <canvas id="payChart" height="217"></canvas>
          </article>
        </div>
        <div class="card mb-4">
          
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <h4 class="card-title">Latest orders</h4>
        <div class="row align-items-center">
        </div>
      </header>
      <div class="card-body">
        <div class="table-responsive">
          
          <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Pay Method</th>
                            
                            <th >Action</th>
                            <th></th>

                        </tr>
                    </thead>
                    <% if (order.length === 0) { %>
                        <!-- Display "No orders found" message when there are no results -->
                        <tr>
                            <td colspan="6">No orders found</td>
                        </tr>
                    <%}%>
                    <tbody>
                        <% order.forEach(orders=>{ %>                                    
                        <tr>
                            <td><b><%= orders._id %></b></td>
                            <td><b> <%= orders.date.toLocaleDateString() %></b></td>
                            <td>₹<%= orders.totalAmount  %></td>
                            
                            <td><div class="btn-group">
                                <% if(orders.status=='placed' ){%>
                                    <button class="btn btn-info btn-xs  dropdown-toggle-split" type="button" data-bs-toggle="dropdown">
                                        <%= orders.status %>
                                    </button>
      
                                    <% } else if (orders.status=='Cancelled'){ %>
                                        <button class="btn btn-danger xs " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <%= orders.status %>
                                        </button>
                                    <% } else if (orders.status=='Shipped'){ %>
                                        <button class="btn btn-warning btn-sm  " type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <%= orders.status %>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/admin/delivered?id=<%= orders._id %>">delivered</a></li>
                                            <li><a class="dropdown-item" href="/admin/cancelOrderadmin?id=<%= orders._id %>">Cancel</a></li>
                                        </ul>
                                    <% } else if (orders.status=='Delivered' ) { %>
                                        <button class="btn btn-success btn-xs " type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <%= orders.status %>
                                        </button>
                                    <% } else { %>
                                        <button class="btn-secondary btn-sm " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <%= orders.status %>
                                        </button>
                                    <% } %>
                            </div></td>
                            <td>
                                <%= orders.paymentMethod  %></td>
                            <td>
                                <a href="/admin/orderDetails?id=<%= orders._id %>" class="btn btn-xs">Detail</a>
                               
                            </td>
                        </tr>
                        
                            <%})%> 
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
   
  </section>
  <!-- content-main end// -->
  <%- include("../layouts/adminlayout/footer.ejs") %>

<script>
const revenue = (<%- JSON.stringify(dailyChart.map(item => item.dailyRevenue)) %>);
    const days = (<%- JSON.stringify(dailyChart.map(item => item._id)) %>);
(function($) {
      "use strict";
 
      /*Sale statistics Chart*/
      if ($('#salesChart').length) {
        var ctx = document.getElementById('salesChart').getContext('2d');
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
            labels: days,
            datasets: [{
              label: 'Daily Revenue',
              tension: 0.3,
              fill: true,
              backgroundColor: 'rgba(44, 120, 220, 0.2)',
              borderColor: 'rgba(44, 120, 220)',
              data: revenue,
            }]
          },
          options: {
            plugins: {
              legend: {
                labels: {
                  usePointStyle: true,
                },
              }
            }
          }
        });
      } //End if

      if ($('#payChart').length) {
        var ctx = document.getElementById("payChart");
        var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ["COD", "onlinePayment"],
            datasets: [{
              label: "Payment",
              backgroundColor: ["#50B77E", "#3BCAF0", "#ff5722"],
              barThickness: 10,
              data: ['<%= codPayAmount %>', '<%= onlinePayAmount %>']
            }]
          },
          options: {
            plugins: {
              legend: {
                labels: {
                  usePointStyle: true,
                },
              }
            }
          }
        });
      }
    })(jQuery);
    </script>
