<%- include('../layouts/adminlayout/header.ejs')%>

                
           
        <main class="main-wrap">
           
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Total Orders </p>
                    </div>
<!--                     
                    <div>
                        <button href="#" class="btn btn-light rounded font-md" onclick="generateExcel()">Excel</button>
                        <button class="btn btn-light rounded font-md" onclick="generatePDF()">PDF Download</button>
                    </div> -->
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3 ">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <form action="/admin/adminOrderlist" method="GET" class="d-flex">
                                    <input type="text" name="search" placeholder="Search..." class="form-control" value="<%= search || '' %>">
                                    <button type="submit" class="btn btn-sm font-sm rounded btn-brand ">Search</button>
                                </form>
                            </div>
                            <div class="col-lg-2   ">
                                <form action="/admin/adminOrderlist" method="GET"class= "d-flex" >
                                    <select class="form-select" name="status">
                                        <option value="">Show all</option>
                                        <option value="placed"<%= status === 'placed' ? 'selected' : '' %>>Placed</option>
                                        <option value="Delivered" <%= status === 'delivered' ? 'selected' : '' %>>Delivered</option>
                                        <option value="Cancelled"<%= status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                        <option value="Shipped"<%= status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                        <option value="returned"<%= status === 'Returned' ? 'selected' : '' %>>Returned</option>
                                        <option value="pending"<%= status === 'pending' ? 'selected' : '' %>>Pending</option>
                                    </select>
                                    <button type="submit" class="btn btn-sm font-sm rounded btn-brand mt-0">Filter</button>
                                </form>
                            </div>
                            <!-- <div class="col-lg-2 col-md-3 col-6">
                                <form action="/admin/adminOrderlist" method="GET">
                                    <select class="form-select" name="itemsPerPage">
                                        <option value="10">Show 10</option>
                                        <option value="20">Show 20</option>
                                        <option value="30">Show 30</option>
                                    </select>
                                    <button type="submit" class="btn btn-sm font-sm rounded btn-brand mt-3">Apply</button>
                                </form>
                            </div> -->
                        </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Pay Method</th>
                                        
                                        <th >Action</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <% if (orders.length === 0) { %>
                                    <!-- Display "No orders found" message when there are no results -->
                                    <tr>
                                        <td colspan="6">No orders found</td>
                                    </tr>
                                <%}%>
                                <tbody>
                                    <% orders.forEach(orders=>{ %>                                    
                                    <tr>
                                        <td><b><%= orders._id %></b></td>
                                        <td><b> <%= orders.date.toLocaleDateString() %></b></td>
                                        <td>₹<%= orders.totalAmount  %></td>
                                        
                                        <td><div class="btn-group">
                                            <% if(orders.status=='placed' ){%>
                                                <button class="btn btn-info btn-sm  dropdown-toggle-split" type="button" data-bs-toggle="dropdown">
                                                    <%= orders.status %>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="/admin/shipping?id=<%= orders._id %>">shipped</a></li>
                                                    <li><a class="dropdown-item" href="/admin/delivered?id=<%= orders._id %>">delivered</a></li>
                                                    <li><a class="dropdown-item" href="/admin/cancelOrderadmin?id=<%= orders._id %>">Cancel</a></li>
                                                </ul>
                                                <% } else if (orders.status=='Cancelled'){ %>
                                                    <button class="btn btn-danger btn-sm " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <%= orders.status %>
                                                    </button>
                                                <% } else if (orders.status=='Shipped'){ %>
                                                    <button class="btn btn-warning btn-sm  " type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <%= orders.status %>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="/admin/delivered?id=<%= orders._id %>">delivered</a></li>
                                                        <li><a class="dropdown-item" href="/admin/cancelOrderadmin?id=<%= orders._id %>">Cancel</a></li>
                                                    </ul>
                                                <% } else if (orders.status=='Delivered' ) { %>
                                                    <button class="btn btn-success btn-sm " type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <%= orders.status %>
                                                    </button>
                                                <% } else { %>
                                                    <button class="btn-secondary btn-sm " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <%= orders.status %>
                                                    </button>
                                                <% } %>
                                        </div></td>
                                        <td>
                                            <%= orders.paymentMethod  %></td>
                                        <td>
                                            <a href="/admin/orderDetails?id=<%= orders._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                           
                                        </td>
                                    </tr>
                                    
                                        <%})%> 
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <!-- <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>&search=<%= search %>&status=<%= status %>&itemsPerPage=<%= itemsPerPage %>"><%= i %></a>
                                </li>
                            <% } %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>


            <script>
                // PDF Download
                function generatePDF() {
                    const orders = document.querySelectorAll('.table tbody tr');
            
                    const orderRows = [];
                    orders.forEach(order => {
                        const orderId = order.cells[0].innerText;
                        const Date = order.cells[1].innerText;
                        const Total = order.cells[2].innerText;
                        const Status = order.cells[3].innerText;
                        const PayMethod = order.cells[4].innerText;
            
                        orderRows.push([orderId,Date, Total, Status, PayMethod]);
                    });
            
                    const pdfFormat = {
                        content: [
                            { text: 'Sales Report', style: 'header' },
                            {
                                table: {
                                    headerRows: 1,
                                    widths: [60,70,60,45,50,50,115],
                                    body: [['orderId', 'Date', 'Total', 'Status', 'Payment Method'], ...orderRows] }
                            }
                        ],
                        styles: {
                            header: {
                                fontSize: 20,
                                bold: true,
                                alignment: 'center',
                                margin: [0, 0, 0, 10]
                            }
                        }
                    };
            
                    pdfMake.createPdf(pdfFormat).print();
                }
            
                // Excel Download
                function generateExcel() {
                    const orders = document.querySelectorAll('.table tbody tr');
            
                    const orderData = [];
                    orders.forEach(order => {
                        const orderId = order.cells[0].innerText;
                        const Date = order.cells[1].innerText;
                        const Total = order.cells[2].innerText;
                        const status = order.cells[3].innerText;
                        const PayMethod = order.cells[4].innerText;
                       
                        
            
                        orderData.push([orderId, Date, Total, status,PayMethod ]);
                    });
            
                    const header = ['orderId', 'Date', 'Total', 'Status','PayMethod' ];
                    const data = [header, ...orderData];
            
                    const ws = XLSX.utils.aoa_to_sheet(data);
                    const wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, 'Sales Report');
            
                    // Generating filename based on the current date and time
                    const filename = 'Sales_Report_' + new Date().toISOString().slice(0, 19).replace(/:/g, '-') + '.xlsx';
            
                    // Convert the workbook to a binary Excel file and trigger the download
                    XLSX.writeFile(wb, filename);
                }
            </script>





            
            <!-- content-main end// -->
            <%- include('../layouts/adminlayout/footer.ejs') %>