<%- include('../layouts/userlayout/header.ejs') %>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />


	<div class="container mt-5">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">

				<h1 class="mb-0 bread">Checkout</h1>
			</div>
		</div>
	</div>
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10 ftco-animate">
					<form id="checkout-form" class="billing-form">
						<div class="container d-flex ps-3 text-center">
							<% addresses.forEach(x=>{%>

								<div class="card ml-3 " style="width: 18rem;">
									<div class="card-body">
										<input type="radio"
											value="<%=x.userName%>,<%=x.mobile%>,<%=x.alternativeMob%>,<%=x.address%>,<%=x.city%>,<%=x.state%>,<%=x.pincode%>"
											name="selectAddress" required>
										<h5 class="card-title">
											<%=x.userName%>
										</h5>
										<ul class="list-group">

											<li class="list-group-item d-flex justify-content-between">
												<span>Phone: </span>
												<span>
													<%=x.mobile%>
												</span>
											</li>
											<li class="list-group-item d-flex justify-content-between">
												<span>Alt Mobile: </span>
												<span>
													<%=x.alternativeMob %>
												</span>
											</li>

											<li class="list-group-item d-flex justify-content-between">
												<span>Address:</span>
												<span>
													<%=x.address%>
												</span>
											</li>
											<li class="list-group-item d-flex justify-content-between">
												<span>City: </span>
												<span>
													<%=x.city%>
												</span>
											</li>
											<li class="list-group-item d-flex justify-content-between">
												<span>State: </span>
												<span>
													<%=x.state%>
												</span>
											</li>
											<li class="list-group-item d-flex justify-content-between">
												<span>Pincode: </span>
												<span>
													<%=x.pincode%>
												</span>
											</li>
											<li class="list-group-item d-flex justify-content-between">
												<span>Landmark</span>
												<span>
													<%=x.landmark%>
												</span>
											</li>

										</ul>


									</div>
								</div>
								<%})%>
									
						</div>
						<div class="row justify-content-center mt-3">
							<div class="col-md-6 text-center">
								<a href="/addAddress" class="btn btn-primary">Add New Address</a>
							</div>
						</div>
						<div class="row mt-5 pt-3 d-flex">
							<div class="col-md-6 d-flex">
								<div class="cart-detail cart-total bg-light p-3 p-md-4">
									<h3 class="billing-heading mb-4">Cart Total</h3>
									<p class="d-flex">
										<span>Subtotal</span>
										<span id="total">
											<%= Total %>
										</span>
									</p>
									<p class="d-flex">
										<span>Delivery</span>
										<span>₹0.00</span>
									</p>
									<p class="d-flex">
										<span>Discount</span>
										<span>₹0.00</span>
									</p>
									<hr>
									<p class="d-flex total-price">
										<span	> Total</span>
										<span id="grandtotal"><strong id="newTotal">
											₹<%= Total %>/-</strong>
											
										</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="cart-detail bg-light p-3 p-md-4">
									<h3 class="billing-heading mb-4">Payment Method</h3>
									<!-- <div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
											</div>
										</div>
									</div> -->
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
												<label><input type="radio" name="payment" value="COD" id="COD" required/>Cash On
													Delivery</label>
											</div>
										</div>
									</div>
									<!-- <div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
											</div>
										</div>
									</div> -->
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
												<label><input type="checkbox" value="" class="mr-2" required> I have read and
													accept the terms and conditions</label>
											</div>
										</div>
									</div>
									<button type="submit">Place order</button>
									<!-- <p><a href="#" class="btn btn-primary py-3 px-4">Place order</a> -->
								</div>
							</div>
						</div>
					</form>	
				</div>
				
				<!-- .col-md-8 -->
			</div>
		</div>
	</section> <!-- .section -->


	
    <script>

        $("#checkout-form").submit((e)=>{
            e.preventDefault();
            const amount = document.getElementById("total").innerHTML;
            const totalAmount = document.getElementById("grandtotal").innerHTML;
            let address = $("input[name=selectAddress]:checked").val();
            let payment = $("input[name=payment]:checked").val();
            if(address == "undefined"){
                toastr.error("please select a address")
            }
            console.log(address);
            $.ajax({
                url :"/checkout",
                method :"post",
                data :{
                    amount:parseInt(amount.replace(/[^\d.]/g, '')),
                    total: parseInt(totalAmount.replace(/[^\d.]/g, '')),
                    address: address,
                    payment :payment
                },
                success:(response)=>{
                    if(response.check == true){
                        toastr.error("please select an address and Payment Method","",{
                          timeOut: 2500,
                         progressBar : true
                        });
                    } else if(response.stock == true){
                         toastr.error(`${response.productName} is out of stock....!!! please check your cart..Available stock is ${response.stockCount}`, "", {
                            timeOut: 2500,
                            progressBar: true
                        });
                   
                    }else if(response.codSuccess==true){
						
                        window.location.href = `/loadOrderCompleted`;	
                    } 
                }
            })
        })

</script>
			
					<%- include('../layouts/userlayout/footer.ejs') %>