<%- include('../layouts/userlayout/header.ejs') %>

<style>
	.imagezoom img{
		position: relative;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		transform: scale(var(--zoom,1));
		transform-origin: var(--x) var(--y);
		transition: transform 0.3s ease;
	}
	.imagezoom:hover{
		--zoom:2;
	}
</style>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate">
					<div id="productCarousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="imagezoom carousel-item active">
								<!-- <a href="#" class="imagezoom  prod-img-bg"> -->
									<img src="adminAsset/IMAGES/<%= product.image[0] %>" class="img-fluid image mt-0"
										alt="Colorlib Template">
								<!-- </a> -->
							</div>
							<% for (let i=1; i < product.image.length; i++) { %>
								<div class="imagezoom carousel-item">
									<!-- <a href="#" class=" prod-img-bg"> -->
										<img src="adminAsset/IMAGES/<%= product.image[i] %>" class="img-fluid"
											alt="Colorlib Template">
									<!-- </a> -->
								</div>
								<% } %>
						</div>
						<a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon " aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
							<span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="col-lg-10 product-details pl-md-5 ftco-animate mt-5 mb-0">
						<div class="row mt-4">
							<div>

								<div id="thumbnail" class="image" data-ride="next">
									<div class="image d-flex">
										<% for (let i=0; i < product.image.length; i++) { %>
											<div class="<%= i === 0 ? 'active' : '' %> ml-3">
												<img src="adminAsset/IMAGES/<%= product.image[i] %>"
													class="img-fluid img-thumbnail " alt="Thumbnail"
													style="height: 100px;width: 70px;">
											</div>
											<% } %>
									</div>
								</div>
							</div>
							<!-- Other controls -->
						</div>
					</div>

				</div>


				<div class="col-lg-6 product-details pl-md-5 ftco-animate mt-5 mb-0">
					<h3>
						<%= product.name %>
					</h3>
					<div class="rating d-flex">
						<!-- <p class="text-left mr-4">
							<a href="#" class="mr-2">5.0</a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
						</p> -->
						<!-- <p class="text-left mr-4">
							<a href="#" class="mr-2" style="color: #000;">100 <span
									style="color: #bbb;">Rating</span></a>
						</p>
						<p class="text-left">
							<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
						</p> -->
					</div>
					<% if(product.offer){var discount=(product.price * product.offer.percentage/100).toFixed(0)} %>
					<% if(product.offer){ %>
					<p class="price"><span><del>₹<%= product.price %></del></span></p>
					<h3 class="price"> ₹ <%= product.price-discount %> <span class="badge" style="font-size: medium; background: linear-gradient(to right, rgb(246, 2, 2), #dd3838); color: white;"> Save ₹ <%= discount %> </span></h5>
					<% }else{ %>
						<p class="price"><span>₹<%= product.price %></span></p>
						<% } %>
					

					<p>
						<%= product.description %>
					</p>
					<div class="row mt-4">
						<div class="col-md-6">
							<div class="form-group d-flex">
								<div class="select-wrap">
									<!-- <div class="icon"><span class="ion-ios-arrow-down"></span></div> -->

								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="input-group col-md-6 d-flex mb-3">
							
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							
							<% if (product.quantity > 0) { %>
								<p style="color: #000;"><%= product.quantity %> piece available</p>
							  <% } else { %>
								<div class="btn  py-3 px-5 mr-2 btn-danger"><strong> Out Of Stock</strong></div>
							  <% } %>
							  
							
						</div>
					</div>
					<% if (product.quantity > 0) { %>
					<p><a href="/addToCart?id=<%=product._id %>" class="btn  py-3 px-5 mr-2 btn-black">Add to Cart</a>  
					<% }%>
						<!-- <button class="btn-black" onclick="addToCart('<%=product._id %>')">
					<i class="far fa-shopping-cart"></i>
					<span>Add to Cart</span>
				</button>	 -->
						<!-- <a href="#" class="btn btn-primary py-3 px-5">Buy now</a></p> -->

				</div>
			</div>




			<div class="row mt-5">
				<div class="col-md-12 nav-link-wrap">
					<div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist"
						aria-orientation="vertical">
						<a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill"
							href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Description</a>

					</div>
				</div>
				<div class="col-md-12 tab-wrap">

					<div class="tab-content bg-light" id="v-pills-tabContent">

						<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
							aria-labelledby="day-1-tab">
							<div class="p-4">
								<h3 class="mb-4">
									<%= product.name %>
								</h3>
								<p>
									<%= product.description %>
								</p>
							</div>
						</div>

						<!-- <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
              	<div class="p-4">
	              	<h3 class="mb-4">Manufactured By Nike</h3>
	              	<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
              	</div>
              </div> -->
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>


	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Minishop</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Menu</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Shop</a></li>
							<li><a href="#" class="py-2 d-block">About</a></li>
							<li><a href="#" class="py-2 d-block">Journal</a></li>
							<li><a href="#" class="py-2 d-block">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Help</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Shipping Information</a></li>
								<li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
								<li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
								<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
							</ul>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">FAQs</a></li>
								<li><a href="#" class="py-2 d-block">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain
										View, San Francisco, California, USA</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929
											210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">info@yourdomain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

	<script>
		$(document).ready(function () {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				$('#quantity').val(quantity + 1);


				// Increment

			});

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

		});
	</script>
	<script>
		function addToCart(id) {
			console.log("hi");

			$.ajax({

				url: '/addToCart',
				method: 'post',
				data: {
					query: id
				},

				success: (response) => {
					if (response.success) {
						toastr.success("Product added to Cart", "", {
							timeOut: 1500,
							progressBar: true
						});
					} else if (response.check) {
						toastr.error("Out of Stock!!", "", {
							timeOut: 1500,
							progressBar: true
						});
					}
				}
			})
		}
	</script>
	<script>
		document.querySelectorAll('.imagezoom').forEach(elem =>{
			let x,y,width,height;
			elem.onmouseenter=()=>{
				const size=elem.getBoundingClientRect();
				x=size.x
				y=size.y
				width=size.width;
				height=size.height;
			};
			elem.onmousemove = e =>{
				const horizontal=(e.clientX-x)/width*100;
				const vertical=(e.clientY-y)/height*100;

				elem.style.setProperty('--x',horizontal + '%');
				elem.style.setProperty('--y',vertical + '%');
			};
		});
	</script>

	</body>

	</html>