

<%- include('../layouts/userlayout/header.ejs') %>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="text-center mb-5">
            <img src="/userAsset/profile.png" class="rounded-circle" alt="User Avatar"
              style="width: 150px; height: 150px;">
            <h2 class="mt-3">
              <%=userprofile.name%>
            </h2>
            <p class="text-muted">
              <%=userprofile.email%>
            </p>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Profile Details</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                  <span>Full Name</span>
                  <span>
                    <%=userprofile.name%>
                  </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Email</span>
                  <span>
                    <%=userprofile.email%>
                  </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Phone</span>
                  <span>
                    <%=userprofile.mobile%>
                  </span>
                </li>
              </ul>
              <div class="text-center mt-4 ">
                <a href="/address?userprofile=<%= userprofile %>" class="btn btn-primary">Show Address</a>
                <a href="/addAddress" class="btn btn-primary">+New address </Address></a>
                <a href="/showOrders" class="btn btn-primary">Show Orders</a>
                <a href="/editProfile" class="btn btn-primary">Edit Profile</a>
                <a href="/changePassword" class="btn btn-primary mt-4">Change Password</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../layouts/userlayout/footer.ejs') %>