<%- include('../layouts/userlayout/header.ejs') %>

<!-- Add your custom CSS styles here -->
<style>
  /* Add your custom styles for the Order History page here */
</style>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="text-right mt-5 mr-5 text-white">
      <a href="/profile"> <button class="btn-dark btn-sm">Back</button></a>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 mt-5">
        <div class="text-center mt-0 mb-5">
          <h2>Order History</h2>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="bg-primary">
              <tr>
                <th>Date</th>
                <th>Order Id</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <% Myorders.forEach(order=> { %> 
              <tr>
                <td><%= order.date.toLocaleDateString() %></td>
                <td><%= order._id %></td>
                <td><%= order.totalAmount %></td>
                <td>
                  <% if(order.status=="Cancelled" ) {%>
                  <p class="text-danger"><%= order.status %></p>
                  <% } else if(order.status=="pending" ) {%>
                  <p class="text-warning"><%= order.status %></p>
                  <% } else if(order.status=='Delivered' ){ %>
                  <p class="text-success"><%= order.status %></p>
                  <% } else if(order.status=='Returned' ){ %>
                  <p class="text-secondary"><%= order.status %></p>
                  <% } else{ %>
                  <p class="text-info"><%= order.status %></p>
                  <% } %>
                </td>
                <td>
                  <% if (order.status=="Delivered" ) { %>
                  <div>
                    <button
                      class="btn-sm font-sm btn-danger"
                      onclick="confirmReturn('<%= order._id %>')"
                    >
                      Return
                    </button>
                  </div>
                  <% }else if(order.status=="Cancelled" ) {%>
                  <div>
                    <button class="btn-sm font-sm btn-secondary" disabled>
                      Cancelled
                    </button>
                  </div>
                  <% }else if(order.status=="returned" ) {%>
                  <div>
                    <button class="btn-sm font-sm btn-secondary" disabled>
                      Returned
                    </button>
                  </div>
                  <% } else { %>
                  <div>
                    <button
                      class="btn-sm font-sm btn-danger"
                      onclick="confirmCancel('<%= order._id %>')"
                    >
                      Cancel
                    </button>
                  </div>
                  <% } %>
                </td>
                <td>
                  <a href="/orderDetails?id=<%= order._id %>"
                    ><button class="btn-sm font-sm btn-primary">
                      Details
                    </button></a
                  >
                </td>
              </tr>
              <% }); %> 
            </tbody>
          </table>
        </div>
        <div class="text-center mt-4">
          <a href="/profile" class="btn btn-primary">Back to Profile</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function confirmCancel(orderId) {
    swal
      .fire({
        title: "Are you sure?",
        text: "You Want to Cancel this Order?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes!",
      })
      .then((result) => {
        if (result.isConfirmed) {
          Swal.fire({
            input: "textarea",
            inputLabel: "Reason For Cancellation",
            inputPlaceholder:
              "Please indicate the reason for Cancelling your order",
            inputAttributes: {
              "aria-label": "Type your message here",
            },
            showCancelButton: true,
            confirmButtonText: "Submit", // Change the button text to "Submit"
          }).then((inputResult) => {
            if (inputResult.isConfirmed) {
              const text = inputResult.value;
              
            cancel(orderId, text); // Pass the reason to cancel function
            Swal.fire(
                "Return Confirmed!",
                "Order has been Returned.",
                "success"
              );
              
            }

            setTimeout(() => {
              window.location.reload();
            }, 1000);
          });
        }
      });
  }

  function cancel(orderId,text) {
    $.ajax({
      url: "/cancelOrder",
      data: {
        orderId: orderId,
        reason: text,
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          toastr.success("Order canceled successfully!", "Success", {
            timeOut: 3000,
            closeButton: true,
            progressBar: true,
          });
          location.reload();
        }
      },
    });
  }

  function confirmReturn(orderId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You want to return this order?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes!",
    })
      // .then((result) => {
      //           if (result.isConfirmed) {
      // 			Swal.fire(
      // 				'Return Confirmed!',
      // 				'Order has been Returned.',
      // 				'success'
      // 				)
      // 				returnOrder(orderId)
      // 			}
      // 			setTimeout(()=>{

      // 				window.location.reload();
      // 			},1000)
      // 		});
      .then((result) => {
        if (result.isConfirmed) {
          Swal.fire({
            input: "textarea",
            inputLabel: "Reason For Return",
            inputPlaceholder:
              "Please indicate the reason for returning your order",
            inputAttributes: {
              "aria-label": "Type your message here",
            },
            showCancelButton: true,
            confirmButtonText: "Submit", // Change the button text to "Submit"
          }).then((inputResult) => {
            if (inputResult.isConfirmed) {
              const text = inputResult.value;

              returnOrder(orderId, text); // Pass the reason to returnOrder function

              Swal.fire(
                "Return Confirmed!",
                "Order has been Returned.",
                "success"
              );
            }

            setTimeout(() => {
              window.location.reload();
            }, 1000);
          });
        }
      });
  }
</script>
<script>
  function returnOrder(orderId, text) {
    $.ajax({
      url: "/returnOrder",
      data: {
        orderId: orderId,
        reason: text, // Pass the input text to the server
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          toastr.success("Order Returned successfully!", "Success", {
            timeOut: 3000,
            closeButton: true,
            progressBar: true,
          });
          location.reload();
        }
      },
    });
  }
</script>

<%- include('../layouts/userlayout/footer.ejs') %>
